[submodule "Assets/packages/ugb-source"]
	path = Assets/packages/ugb-source
	url = https://kaiwegner@bitbucket.org/kaiwegner/ugb-source.git
[submodule "Assets/packages/ugb-examples"]
	path = Assets/packages/ugb-examples
	url = https://kaiwegner@bitbucket.org/kaiwegner/ugb-examples.git
