[submodule "Assets/packages/ugb-source"]
	path = Assets/packages/ugb-source
url=https://github.com/kwnetzwelt/ugb-source.git
[submodule "Assets/packages/ugb-examples"]
	path = Assets/packages/ugb-examples
url=https://github.com/kwnetzwelt/ugb-examples.git